# === Compiled output ===
target/
*.class
*.jar
*.war

# === IDE ===
.idea/
*.iml
.vscode/
*.swp

# === Environment / Secrets ===
.env

# === OS ===
.DS_Store
Thumbs.db

# === Logs ===
*.log
.env    

# === Configuration (To not push secrets or personal DB configs) ===
application*.yml
application*.properties
